body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: #f6f6f6;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  color: #ffff;
  background-color: #e1bc29;
}

h3 {
  text-align: left;
  text-decoration: underline;
}

p
{
  font-size: 20px;
  font-weight: 100;
}

#title {
  font-size: 35px;
  color: #e15554;
}

#logo {
  width: 200px;
}

ul {
  font-size: 20px;
  font-weight: 100;
  text-align: left;
}

ol {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.active {
  font-weight: bold;
}

.goals {
  text-align: center;
  font-size: 20px;
  color: #e15554;
  text-decoration: none;
}

.goals-titles {
  list-style-type: circle;
  text-align: center;
}
